.page-not-found-heading {
  font-size: 34px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  .page-not-found-heading {
    font-size: 52px;
  }
}
