.team-banner-container {
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-banner-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner-img {
  width: 100%;
}

@media (min-width: 768px) {
  .team-banner-card {
    width: 75%;
  }
}

.rcb {
  background-image: linear-gradient(to bottom, #a4261d, #0f172a);
}

.kkr {
  background-image: linear-gradient(to bottom, #5755a7, #0f172a);
}

.kxp {
  background-image: linear-gradient(to bottom, #d91c1f, #0f172a);
}

.csk {
  background-image: linear-gradient(to bottom, #f7db00, #0f172a);
}

.rr {
  background-image: linear-gradient(to bottom, #ffffff33, #0f172a);
}

.mi {
  background-image: linear-gradient(to bottom, #13418b, #0f172a);
}
.sh {
  background-image: linear-gradient(to bottom, #f26d22, #0f172a);
}

.dc {
  background-image: linear-gradient(to bottom, #4f5db0, #0f172a);
}

.team-latest-matches {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .team-latest-matches {
    font-size: 16px;
  }
}

.recent-match-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0px;
}
